/*
 * numberlines.css
 * Numbers lines in <pre> block automatically; works with numberlines.js
 * David J. Birnbaum, djbpitt@gmail.com, http://www.obdurodon.org
 * First created 2014-11-16; see further documentation in numberlines.js
 * 
 * Based on http://bililite.com/blog/2012/08/05/line-numbering-in-pre-elements/
 * Works with numberlines.js; full documentation there
 */

/*.block{
    counter-reset:linecounter;
    display: table;
/\*    display:flex;
    flex-direction:column;
    box-orient:vertical;
    box-pack:center;
    box-align:center;*\/
}
.block > span{
    counter-increment:linecounter;
    width:100%;
    display:table-row;
    white-space:pre-wrap;
}
.block > span:nth-child(odd){
    /\*background-color:#B2F0FF;*\/
    /\*background-color:#FFE4DA;*\/
    background-color:#eff3ff;
}
.block > span:nth-child(even){
    /\*background-color:#FFE1E6;*\/
    /\*background-color:#F5DBD1;*\/
    background-color:#c6dbef;
}
.block > span:before{
    color:gray;
    font-size:80%;
    content:counter(linecounter);
    float:left; /\*http://stackoverflow.com/questions/19439079/css-before-pseudo-element-line-height*\/
    min-width:2.5em;
    display:block;
    border-right:1px solid gray;
    margin-right:3px;
    text-align:right;
    padding-right:3px;
}*/

.block{
    counter-reset:linecounter;
    display:table;
    white-space:pre-wrap;
    border-collapse:collapse;
    width:95%;
}
.block > span{
    counter-increment:linecounter;
    display:table-row;
    white-space:pre-wrap;
    border-collapse:collapse;
}
.block > span > span{
    display:table-cell;
    border-left:1px gray solid;
    width:100%;
}
.block > span:nth-child(odd){
    /*background-color:#B2F0FF;*/
    /*background-color:#FFE4DA;*/
    /*background-color:#eff3ff;*/
    background-color:#c6dbef;
}
.block > span:nth-child(even){
    /*background-color:#FFE1E6;*/
    /*background-color:#F5DBD1;*/
    /*background-color:#c6dbef;*/
    background-color:#deebf7;
}
.block > span::before{
    color:gray;
    font-size:70%;
    content:counter(linecounter);
    /*    float:left; /\*http://stackoverflow.com/questions/19439079/css-before-pseudo-element-line-height*\/
*/
    min-width:2.5em;
    max-width:2.5em;
    width:2.5em;
    display:block;
    margin-right:3px;
    text-align:right;
    padding-right:3px;
}
